[Unit]
Description=USB IP Daemon
After=network.target

[Service]
Type=forking
ExecStartPre=/sbin/modprobe usbip-host
ExecStart=/usr/sbin/usbipd -D

[Install]
WantedBy=multi-user.target